.alert {
    padding: 20px;
}

.a-danger{
    background-color: #f44336;
}

.a-success{
    background-color: #00d09b;
}

.a-warning{
    background-color: #ffff76;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
