/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* РЕСЕТ ================================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.picture, .description_card {
    font-family: 'Montserrat', sans-serif;
}
ol,ul {
	list-style: none;
}

a {
    text-underline: none;
    color: black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*btn ===================================================================*/
.main_btn{
	padding: 16px 33px;
	font-size: 16px;
}

.prod_btn{
	padding: 14px 44px;
	border: #E28343 solid 3px;
	font-size: 13px;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	outline: none;
    border: 3px solid black;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: black;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.picture {

}
.btn:hover {
	box-shadow: 0 5px 5px 0 #f1efef, 0 5px 5px 0 #000000;
}
.btn:active {
	background-color: #efefef !important;
}
.btn:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.btn-2 {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 24px;
	margin: 40px 40px 30px 0;
	outline: none;
	border: none;
	border-radius: 3px;
	height: 37px;
	line-height: 37px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background-color: #4f4f4f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.btn-2:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn-2:hover {
	box-shadow: 0 1px 1px 0  #cfcfcf, 0 2px 5px 0  #cfcfcf;
}
.btn-2:active {
	background-color: #058c38 !important;
}
.btn-2:disabled {
	background-color: #aed2bc;
	color: #444;
	pointer-events: none;
}
/* main ===============================================================*/
.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: #ffffff;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}
a{
	text-decoration: none;
}

.header a{
    color: #000000;
}

.footer a{
    color: white;
}

.header_inner{
    display: flex;
    padding: 68px 0px;
    justify-content: space-between;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 3px solid black;
}

.logo a{
    color: white;
    font-size: 40px;
}

.nav{
    display: flex;
    margin: 0px 20px 10px 0px;
    align-items: flex-end;
    justify-content: space-between;
}

.nav li{
    margin-left: 30px;
}

.nav li a:hover{
    text-decoration: underline;
}

.re_bin{
    margin: 0px 80px 0px 0px;
	background-color: #623820;
	border-radius: 25px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.preview__inner{
    display: flex;
	margin: 0px 0px 0px 195px;
}

.main_info{
    padding: 139px 0px 0px 0px;
    color: #442E23;
    flex: 0 1 66%
}

.main_info h1{
    font-size: 40px;
    margin-bottom: 100px;
}

.main_info ul li{
    margin-bottom: 40px;
    font-size: 20px;
	display: flex;
    align-items: center;
}

.img_main{
    flex: 0 1 44%;
}

.img_main img{
    left: 1120px;
    top: 186px;
}


.info{
    background-color: #ffffff;
    padding-top: 148px;
}
.info_inner{
    text-align: center;
	margin: 0px 195px;
}

.info_inner h2 ,.comments_inner h2, .contacts_inner h2{
   font-size: 35px;
   font-weight: 400;
   color: #442E23;
}

.info_description{
    display: flex;
    margin-top: 48px;
}

.info_imgs{
    flex: 0 1 30%;
}

.info_imgs img{
	padding-bottom: 35px;
}

.info_text{
    flex: 0 1 70%;
	margin-left: 38px;
    text-align: left;
	font-size: 23px;
}
.info_text h3{
	margin-bottom: 18px;
}

.comments_inner{
	margin: 0px 195px;
	text-align: center;
}

.comments{
	background-color: #ffffff;
	font-size: 20px;
	padding-top: 30px;
}

.contacts{
	background-color: #ffffff;
	padding-top: 60px;
}

.contacts_inner{
	margin: 0px 195px;
	text-align: center;
}

.footer{
    font-size: 20px;
    background-color: #545454;
    padding: 85px 0px;
    color: white;
}

.footer ol li{
    margin: 5px 0px;
}

.footer ul{
    list-style: square !important;
    margin: 20px;
}

.footer ul li{
    margin: 5px;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
    padding-bottom: 60px;
}

.preview{
    background-color: #ffffff;
}

.links a{
    padding: 10px 0px 0px 0px;
}

.logos{
    padding-top: 20px;
}

.comment_logo{
	width: 94.01px;
	height: 95px;
	border: 5px solid #E28343;
	border-radius: 50px;
}

.args{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer a{
    color: white;
}

.footer .title{
    margin-bottom: 10px;
}

.footer_inner div p{
    margin: 40px 0px;
}


.args div{
    margin: 0px 30px
}

.description{
	padding-top: 140px;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
}

.picture{
    max-height: 400px;
width: 420px;
border: #F20E6F solid 10px;
/* Caramel */
margin: 0px 47px;
background: #E28343;
border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.description_card-first:after {
    content: url(../images/uploads/smudges-removebg.png);
}
.picture img {
    max-height: 370px;
}

.description_inner{
	display: flex;
	justify-content: center;
}

.form-comment{
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-comment div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.form-comment div input{
    background-color: #f1f1f1;
    border-radius: 0px;
    width: 47%;
    justify-content: center;
}

.form-comment textarea{
    border: 2px solid grey;
    margin-top: 30px;
    width: 100%;
    background-color: #f1f1f1;
}

.form-comment .btn{
    margin: 20px;
    padding: 16px;
    width: 20%;
}

.description_cards{
	margin-top: 120px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
    padding-bottom: 100px;
	color: #000000;
}

.map_block{
	padding: 60px 40px;
	display: flex;
	justify-content: space-between;
	text-align: left;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;

}

#map {
	height: 100%;
  }

.map_block p {
	margin: 10px 0px;
}

.description_card{
 width: 270px;
 padding: 30px 15px;
 background: #f1f1f1;

 border-radius: 25px;
}

.description h2{
    font-size: 50px;
}

.item{
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.owl-nav{
    display: none;
}

.item p {
	margin: 10px 30px;
}

.owl-prev{
	margin: 0px 0px 0px 100px;
}

.owl-next{
	margin: 0px 0px 0px 100px;
}

.product_inner{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.aside{
	width: 20%;
	display: flex;
	justify-content: right;
	align-items: center;
}
.aside ul li{
    margin-bottom: 24px;
}

.aside ul li button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
}

.aside ul li button:hover{
    color: #780e0e;
}

.close::before{
	display: inline-block;
	content: "\00d7";
	font-size: 40px;
}

.submit::before{
    display: inline-block;
    content: '\2713';
    font-weight: 400;
    font-size: 25px;
}
.prod_img{
    height: 280px;
    width: 422px;
    border-radius: 10px;
}

.product_item_img{
    height: 200px;
    object-fit: cover;

}

.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.breadcumbs{
	padding-left: 194px;
}

.product_item{
    width: 16%;
    margin: 40px 2% 20px 2%;
	gap: 30px;
}


.prod_description{
}

.prod_description h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
	margin-bottom: 20px;
}

.prod_description p{
font-weight: 400;
font-size: 18px;
line-height: 120%;
margin-bottom: 15px;
    height: 70px;
    overflow: hidden;

}

.price_block{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.price_block span{
	margin: 0px 10px;
}

.prod_img{
	width: 50%;
}
.product-view{
    background-color: #FFF3D3;
}

.product-view p{
    margin: 36px 200px 36px 0px
}

.product-view-inner{
    padding-top: 50px;
    display: flex;
    gap: 3%;
}
.product-view h1{
    font-size: 25px;
    margin-top: 70px;
}

.product-view h2{
    padding: 20px 0px;
    font-size: 40px;
    text-align: center;
}

.product-view-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-view-description{

}

.find-more{
    padding: 92px 0px;
    display: flex;
    align-items: center;
}
.find-more_item{
    width: 33.33%;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    color: black;
}

.find-more_item div{
    margin: 10px 0px;
}

.re_btn{
    padding: 0px 30px;
    margin-left: 50px;
}

.re-bin-counter{
    position: absolute;
    font-weight: 400;
    top: 110px;
    right: 140px;
    font-size: 20px;
}

.about_h1{
    margin: 54px 0px;
    font-size: 35px;
    text-align: center;
}

.about_images{

}

.about_inner1{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.about_inner1-text p,.about_inner1-text h2
{
    font-size: 23px;
    margin: 20px 0px;
}
.about_inner1-text h2{
    font-weight: 400;
}

.about_inner1-text{
    width: 50%;
}


.about_inner2{
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 50px 0px;
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 3px solid #000000;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #676767;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #757575;
    border-color: #ffffff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgb(117, 117, 117);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #5e5e5e;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: #656565;
    content: 'OK';
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.about_images{
    display: flex;
    align-items: flex-end;
    gap: 5%;
}

.partners{
    text-align: center;
    padding: 30px 0px;
    font-size: 23px;
}

.partners p{
    margin: 11px ;
}

.login-page{
    font-size: 20px;
    padding-top: 30px;
}

.login-page h1{
    font-size: 22px;
    margin: 15px 0px;
}

input {
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.2em 0.4em;
    background-color: #fff;
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    transition: 180ms box-shadow ease-in-out;
}

input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

input[type=file] {
    font-size: 0.9em;
    padding-top: 0.35rem;
}

textarea.input {
    resize: vertical;
}

input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
}

input[disabled] {
    --input-border: #60432c;
    background-color: #eee;
    cursor: not-allowed;
}

label {
    font-weight: 800;
    line-height: 1;
}
.form-field label {
    margin: 15px 0px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.form-check{
    margin: 15px 0px;
}

.btn-primary{
    font-size: 27px;
    padding: 5px 30px;
}

.login-page-inner{
    padding: 0px 250px 100px 250px;
}

.invalid-feedback{
    color: red;
}

.email-choco{
    background-image: url("/css/emailchoco.png");
    background-size: 923px 499px;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px ;
    gap: 5%;
}

.email-choco input{
    padding-right: 100px;
}
.email-choco button{
    padding: 3px 20px
}

.delivery-inner{
    display: flex;
    flex-direction: row;
    gap: 4%;
    padding: 40px 0px;
}

.re-bin-products{

}

.about_inner-text{
    width: 50%;
    font-size: 23px;
}

.about_inner-text div{
    margin: 46px 0px;
}

.about_inner-text p{
    margin: 49px 0px;
}

.about_inner-images{
    width: 50%;
}

.about_inner-images img{
    max-width: 573px;
    margin-bottom: 30px;
}

.re-bin-products{
    margin: 0px 100px 0px 300px;
    padding: 70px 0px;
    font-size: 20px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.re-bin-summary{
    margin: 20px 0px;
    border-top: #6a1c12 solid 5px;
}
.little_btn{
    padding: 10px 25px;
    margin: 0px 20px;
}

.summ{
    margin: 30px;
    display: flex;
    justify-content: space-between;

}

.summ div span{
    font-size: 25px;
}

.summary-buttons{
    display: flex;
    justify-content: flex-end;
}

.minis,.plus{
    border: 5px solid #a6a6a6;
    border-radius: 15px;
    padding: 0px 10px;
}

.num{
    background: white;
    padding: 0px 10px;
}

.re-bin-product{
    margin-bottom: 46px;
}

.re-bin-product .main{
    margin-bottom: 20px;
}

.in-me{
    font-size: 23px;
    font-weight: 700;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    font-weight: bold;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-pagination-horizontal{
    display: none; !important;
}

.slide1 div{
    background: #f1f1f1;
    display: flex; !important;
}

.slide6 div{
    display: flex; !important;
}

.slide4 div{
    display: flex; !important;
}

.slide4-title{
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}

.slide4 .form{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    justify-content: end;
}

.slide4 .form input{
    margin: 20px 40px 20px 0px;
}

.slide4 label{
    text-align: start;
    font-weight: 200;
}



.slide4-title h1{
    font-size: 30px;
    line-height: 50px;
}

.slide5 div{
    display: flex; !important;
    line-height: 20px;
}
.slide5 img{
    margin-top: 20px;
}

.slide1-title{
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: 70px 100px;
}

.slide1-title h1{
    font-size: 50px;
    line-height: 70px;
}

.slide1-title p{
    margin-top: 30px;
    line-height: 30px;
}

.slide4-title p{
    margin-top: 30px;
    line-height: 30px;
}

.slide1-title .btn{
    padding: 10px 65px;
    margin: 10px 0px;;
}
